/* custom.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    flex-grow: 1; /* This will make the logo take up all available space on the left */
}

.header .nav {
    flex-grow: 1; /* This will make the nav take up all available space on the right */
}

.post-single {
    display: grid;
    grid-template-columns: minmax(250px, 250px) 1fr; /* 目录宽度为250px，正文占据剩余空间 */
    gap: 20px; /* 设置目录和正文之间的间距 */
    margin-left: 20px; /* 设置整个页面的左边距 */
    max-width: 1200px; /* 设置最大宽度 */
    margin: 0 auto; /* 居中对齐 */
}

.post-single .toc {
    position: sticky;
    top: var(--header-height);
    background-color: rgba(56, 54, 54, 0.8); /* 目录背景色 */
    padding: 10px;
    width: 100%; /* 确保目录宽度适应其容器 */
}

.post-single .toc #TableOfContents {
    overflow-y: auto; /* 启用垂直滚动 */
    max-height: 70vh; /* 设置最大高度 */
}

.post-single .entry-content {
    font-size: 14px; /* 设置正文字体大小 */
}

.main-title {
    text-align: left; /* 左对齐标题 */
    font-size: 28px; /* 设置标题字体大小 */
    margin-top: 0; /* 移除顶部外边距 */
    margin-bottom: 20px; /* 设置底部外边距 */
    white-space: nowrap; /* 防止标题换行 */
    overflow: hidden; /* 隐藏溢出内容 */
    text-overflow: ellipsis; /* 显示省略号 */
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust heading sizes */
h1 {
    font-size: 28px; /* Main heading */
}

h2 {
    font-size: 24px; /* Sub-heading */
}

h3 {
    font-size: 20px; /* Third-level heading */
}

h4 {
    font-size: 18px; /* Fourth-level heading */
}

h5 {
    font-size: 16px; /* Fifth-level heading */
}

h6 {
    font-size: 14px; /* Sixth-level heading */
}