/* Allocate a single column when the width of the page is small. */
.post-single {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-column-gap: 20px;
}

/* Allocate two columns when there is enough width. *
 * The ToC is placed in the first column, while the rest of
 * the children are placed in the second column. */
@media (min-width: 1200px) {
    .post-single {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr);
        grid-column-gap: 35px; /* 设置列间距为40px */
    }
    .post-single .toc {
        grid-column: 1;
        position: sticky;
        top: 10px;
        font-size: 14px;
    }
}

.post-single .post-header {
    grid-column: 2;
    width: 100%;
}
.post-single .entry-cover {
    grid-column: 2;
}
.post-single .post-content {
    grid-column: 2;
}
.post-single .post-footer {
    grid-column: 2;
}
.post-single .toc {
    height: fit-content;
    grid-row: span 3;
}
/* Make the ToC scrollable */
.post-single .toc #TableOfContents {
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 20px;
    max-height: 70vh;
}

.post-single .toc .inner {
    margin: 5px;
    padding: 0;
}

/* 根据标题层级调整TOC项的缩进和字体大小 */
/* 不知道为什么没有生效，所以直接在上方代码里面指定字体大小 */
.post-single .toc ul {
    list-style-type: none;
    padding-left: 0;
}

.post-single .toc li {
    margin-bottom: 5px;
}

.post-single .toc h1,
.post-single .toc h2,
.post-single .toc h3,
.post-single .toc h4,
.post-single .toc h5,
.post-single .toc h6 {
    margin: 0;
    line-height: 1.5;
}

.post-single .toc h1 {
    font-size: 14px;
}

.post-single .toc h2 {
    font-size: 14px;
    margin-left: 10px;
}

.post-single .toc h3 {
    font-size: 12px;
    margin-left: 20px;
}

.post-single .toc h4 {
    font-size: 12px;
    margin-left: 30px;
}

.post-single .toc h5 {
    font-size: 10px;
    margin-left: 40px;
}

.post-single .toc h6 {
    font-size: 10px;
    margin-left: 50px;
}