/* sidetoc.css */
.post-single {
    display: grid;
    grid-template-columns: 250px 1fr; /* 目录宽度为250px，正文占据剩余空间 */
    gap: 20px; /* 设置目录和正文之间的间距 */
    margin-left: 20px; /* 设置整个页面的左边距 */
    max-width: 1200px; /* 设置最大宽度 */
    margin: 0 auto; /* 居中对齐 */
}

.post-single .toc {
    position: sticky;
    top: var(--header-height);
    background-color: rgba(56, 54, 54, 0.8); /* 目录背景色 */
    padding: 10px;
    width: 100%; /* 确保目录宽度适应其容器 */
}

.post-single .toc #TableOfContents {
    overflow-y: auto; /* 启用垂直滚动 */
    max-height: 70vh; /* 设置最大高度 */
}

.post-single .toc ul {
    list-style: none;
    padding-left: 0;
}

.post-single .toc li {
    margin-bottom: 5px;
}

.post-single .toc li a {
    text-decoration: none;
    color: inherit;
    font-size: 16px; /* 默认字体大小 */
    display: block;
}

.post-single .toc li ul li a {
    font-size: 14px;
    margin-left: 10px; /* 子级缩进 */
}

.post-single .toc li ul li ul li a {
    font-size: 12px;
    margin-left: 20px; /* 次子级缩进 */
}

.post-single .toc li a:hover {
    color: #007bff; /* 悬停时的颜色变化 */
}