{{- /* Head custom content area start */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

<!-- Add favicon -->
<link rel="icon" href="{{ "/static/favicon.png" | relURL }}" type="image/png">

{{ partial "mathjax.html" . }}

{{ if or .IsHome .IsPage }}
  <!-- 自定义的缩放样式 -->
  <style>
    /* zoomable 容器 */
    .zoomable {
        position: relative;
        display: inline-block;
        cursor: zoom-in;
        overflow: hidden; /* 防止图片放大后溢出 */
    }

    /* 图片样式 */
    .zoomable img {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* 保持图片比例 */
        pointer-events: auto; /* 确保图片可点击 */
    }

    /* 放大后的图片遮罩层 */
    .zoom-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 50, 50, 0.7); /* 背景变暗 */
        display: none; /* 默认隐藏 */
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    /* 放大图片的容器 */
    .zoomable img.zoomed {
        position: fixed;
        max-width: 90%; /* 确保图片与页面有边距 */
        max-height: 90%;
        transform: translate(-50%, -50%) scale(1); /* 居中显示 */
        top: 50%;
        left: 50%;
        z-index: 1001;
        cursor: zoom-out;
    }

    /* 当遮罩层激活时，body 添加 zoom-overlay-active 类 */
    body.zoom-overlay-active .zoom-overlay {
        display: flex;
    }
  </style>

  <script src="/js/zoom-image.js"></script>
{{ end }}
