{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<!-- Add favicon -->
<link rel="icon" href="{{ "/static/favicon.png" | relURL }}" type="image/png">

{{ partial "mathjax.html" . }}

{{ if or .IsHome .IsPage }}
  <!-- jQuery (required for magnify.js) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- lightGallery.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightGallery-js/1.4.0/css/lightgallery.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightGallery-js/1.4.0/js/lightGallery.min.js"></script>

  <!-- magnify.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/1.2.5/magnify.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/1.2.5/jquery.magnify.min.js"></script>

  <!-- Initialization script -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // 初始化 magnify.js
        $('.magnify-image').magnify({
            magnifier: '#result', // 指定放大镜结果容器
            duration: 200,        // 放大动画持续时间
            easing: 'ease-out'    // 放大动画效果
        });

        // 初始化 lightGallery.js
        lightGalleryjsInit();
    });

    function lightGalleryjsInit() {
        var lightbox = document.querySelectorAll('.magnify-container a[data-lightbox]');
        if (lightbox.length > 0) {
            lightGallery.init(lightbox, {
                download: false, // 如果不需要下载按钮，可以设置为 false
                zoom: true,      // 启用缩放功能
                thumbnail: true, // 显示缩略图
            });
        }
    }
  </script>
{{ end }}

{{- /* Head custom content area end */ -}}